<div class="text-center">
  <h1><strong>Editing User</strong></h1>
</div>

<br>

<%= render 'form', user: @user %>

<br>

<div class="text-center">
  <%= link_to 'Back', users_path %> | <%= link_to 'Show', @user %> | <%= link_to 'Home', root_path %>
</div>
